@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<div class="cardo">
    <div class="card">
<p>
  Our platform is as a specialized resource for environmentally friendly agricultural methods. 
We offer a wide range of expertise, from sophisticated water conservation measures to other organic farming approaches. 
  Farmers are given the opportunity to sell their products and share their green energy practices. 
  Register/Login and join our movement in practicing conservative farming!
</p>
       <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
            Login/SignUp
        </a>

    </div>
</div>



